body{
    margin: 0px;
}

.menulist{
    margin: 10vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu{
    display: flex;

    position: fixed;
    top: 0vh;
    left: -1000vw;
    background-color: burlywood;
    height: 100vh;
    width: 70vw;
    z-index: 3000;
   
    align-items: center;
    justify-content: flex-start;
}

.show{
    left: 0vw;
}

.fade-layer{
    
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 5;
}

.visible{
    display: block;
}

.menu-button{
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 20;
    left: 0px;
    
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

#container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 15% 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'h1 h1'
    'm1 m1'
    ;
}

#h1{
    grid-area: h1;
    
}

#m1{
    grid-area: m1;
    background: url(/img/splashmobile.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

a{
    color: black;
    text-decoration: none;
}

a:link{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:active{
    color: black;
    text-decoration: none;
}

ul{
    color: black;
}

#container2{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 15% 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'h2 h2'
    'm2 m2'
    ;
}
#john{ 
    display: none;
}

#turkey{
    display: none;
}

#h2{
    grid-area: h2;
}

#m2{
    display: flex;
    flex-direction: column;
    grid-area: m2;
    
    
}

#box1{
    width: 100vw;
    height: auto;
    align-self: center;
    justify-self: center;
    background-color: burlywood;
    margin-top: 100px;
    
}

#p1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
    margin: 10px;
}



#container3{
    display: grid;
    height: 200vh;
    width: 100vw;
    grid-template-areas: 
    'h3 h3'
    'm3 m3'
    ;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 126.59px 1fr;
}

#h3{
    grid-area: h3;
    
}

#m3{
    grid-area: m3;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around ;
    
}

.box{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background-color: burlywood;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.8);
    


}


.receptlista{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.recepth{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#container4{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    'h4 h4'
    'm4 m4'
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 1fr;
}

#h4{
    grid-area: h4;
    
}

#m4{
    grid-area: m4;
    background-color: rgba(228, 136, 136, 0.993);
}

#bild1{
    position: absolute;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.8);
    top: 18%;
    right: 8%;
    width: 60%;
}

#bild2{
    position: absolute;
    
    width: 70%;
    top: 25%;
    right: 50%;
}

#bild3{
    position: absolute;
    bottom: 0%;
    width: 100%;
}

#bild4{
    width: 60%;
    position: absolute;
    bottom: 40%;
    left: 45%;
}

#bild5{
    width: 40%;
    position: absolute;
    top: 50%;
    
}

#bild6{
    display: none;
}

.rubrik{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(246, 188, 1);
}



@media(min-width: 600px){
    
    #index-button{
        display: none;
    }

    #m1{
        display: flex;
        align-items: center;
        background: url(/img/splahs.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #index-menu{
        border-radius: 10px;
        position: absolute;
        left: 20px;
        display: flex;
        width: 350px;
        height: 600px;
        background-color: burlywood;
        align-self: center ;   
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.8);    
    }

    #index-list{
        align-self: center;
        font-size: 2.5rem;
    }

    ul{
        font-size: xx-large;
    }

   #m2{
       justify-content: flex-start; 
       height: 85vh;
   }

   #john{
    display: unset;
    width: 29vw;
    height: 85vh;
   }

   #turkey{
    display: unset;
    width: 29vw;
    height: 85vh;
    position: absolute;
    right: 0px;
    z-index: -100;
   }

    #box1{
        width: 42vw;
        height: auto;
        margin-top: unset;
        position: absolute;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 30px;
        
    }

    #p1{
        font-size: 39px;
    }

    #container3{
        height: 100vh;
        grid-template-rows: 15% 1fr;

    }

    .box{
        width: 450px;
        height: 450px;
    }

    .receptlista{
        font-size: xx-large;
        padding-left: 70px;
    }

    #bild1{
        width: unset;
        height: 50%;
        top: unset;
        bottom: 0px;
        right: 0px;
        box-shadow: 0px 0px 0px 0px  ;
    }

    #bild2{
        width: 30%;
        right: 78%;
        bottom: 0px;
        top: unset;
    }

    #bild3{
        width: 30%;
        right: 38%;
        bottom: 10%;

    }

    #bild4{
        width: 23%;
        bottom: 45;
        
        left: 10%;
    }

    #bild5{
        width: 25%;
        right: 0px;
        bottom: 50%;
        top: unset;
    }

    #bild6{
        display: unset;
        position: absolute;
      
        width: 25%;
        bottom: 0px;
        left: 10%;
    }
}





