body{
    margin: 0px;
}

li{
    margin: 10vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu{
    display: flex;

    position: fixed;
    top: 0vh;
    left: -1000vw;
    background-color: lawngreen;
    height: 100vh;
    width: 70vw;
    z-index: 3000;
   
    align-items: center;
    justify-content: flex-start;
}

.show{
    left: 0vw;
}

.fade-layer{
    
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 5;
}

.visible{
    display: block;
}

.menu-button{
    position: relative;
    background-color: red;
    height: 50px;
    width: 50px;
    z-index: 20;
}

#container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 15% 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'h1 h1'
    'm1 m1'
    ;
}

#h1{
    grid-area: h1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background-color: rgb(246, 188, 1);
}

#m1{
    grid-area: m1;
    background: url(/img/sandwich-gf23a63c87_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

a{
    color: white;
    text-decoration: none;
}

a:link{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:active{
    color: white;
    text-decoration: none;
}

ul{
    color: white;
}

#container2{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 15% 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'h2 h2'
    'm2 m2'
    ;
}


#h2{
    grid-area: h2;
    display: flex;
    background-color:  rgb(246, 188, 1);
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#m2{
    display: flex;
    flex-direction: column;
    grid-area: m2;
    
    
}

#box1{
    width: 100vw;
    height: 50vh;
    align-self: center;
    justify-self: center;
    background-color: burlywood;
    margin-top: 100px;
    
}

#p1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
    margin: 10px;
}

@media(min-width: 600px){
    #m1{
        background: url(/img/27302b5a-e5df-4054-b1c5-4890efefecca.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    ul{
        font-size: xx-large;
    }
}





